<!-- Footer -->
<footer class="footer">
  <!-- Footer Top Content Area -->
  <div class="footer__content">
    <div class="container row-flex">
      <!-- Column Logo -->
      <div class="col-1-3">
        <img src="img/logo-light.png" alt="logo" class="footer__logo mb-12" />
        <p class="footer__about">
          By Campers, for Campers. Only verified Camp information is found here.
        </p>
      </div>

      <!-- Column Links -->
      <div class="col-1-3">
        <h5 class="heading-5 footer__title">Links</h5>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="index.ejs" class="btn btn--link btn--light">Home</a>
          </li>
          <li class="footer__item">
            <a href="camps-all.ejs" class="btn btn--link btn--light"
              >All Camps</a
            >
          </li>
          <li class="footer__item">
            <a href="about.ejs" class="btn btn--link btn--light">About</a>
          </li>
          <li class="footer__item">
            <a href="contact.ejs" class="btn btn--link btn--light">Contact</a>
          </li>
          <li class="footer__item">
            <a href="error.ejs" class="btn btn--link btn--light">Error</a>
          </li>
        </ul>
      </div>

      <!-- Column Socials -->
      <div class="col-1-3">
        <h5 class="heading-5 footer__title">Follow us on</h5>
        <div class="footer__social">
          <a href="#" class="btn btn--link btn--light">
            <i class="fa-brands fa-twitter footer__icon"></i>
          </a>
          <a href="#" class="btn btn--link btn--light">
            <i class="fa-brands fa-instagram footer__icon"></i>
          </a>
          <a href="#" class="btn btn--link btn--light">
            <i class="fa-brands fa-facebook footer__icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Bottom Copyright -->
  <div class="footer__copyright">
    <p class="container">
      Copyright &copy; 2024
      <a
        href="https://shariul.com"
        class="btn btn--link btn--light text--underline"
        target="_blank"
        >Shariul</a
      >. All Rights Reserved.
    </p>
  </div>
</footer>
