<!-- Navbar -->
<nav class="navbar">
  <!-- navbar container -->
  <div class="container navbar__nav">
    <!-- logo container -->
    <div class="navbar__logo">
      <a href="index.ejs" class="navbar__logo-link">
        <img src="img/logo-light.png" class="navbar__logo-img" alt="#" />
      </a>
    </div>

    <!-- navbar list -->
    <ul class="navbar__list">
      <li class="navbar__item">
        <a href="camps-all.ejs" class="navbar__link">All Camps</a>
      </li>
      <li class="navbar__item">
        <a href="camps-new.ejs" class="navbar__link">Post Camp</a>
      </li>
      <li class="navbar__item">
        <a href="about.ejs" class="navbar__link">About</a>
      </li>
      <li class="navbar__item">
        <a href="contact.ejs" class="navbar__link">Contact</a>
      </li>
      <li class="navbar__item">
        <a href="user.ejs" class="btn btn--secondary">Login</a>
      </li>
    </ul>
    <!-- navbar toggler -->
    <div class="navbar__toggle">
      <span class="navbar__toggle-icon">&nbsp;</span>
    </div>
  </div>
</nav>
<div class="alert alert--success">
  <div class="container alert__box">
    <p class="alert__text">Operation Successful!</p>
    <button class="btn alert__close">X</button>
  </div>
</div>
