<%- include('partials/head') %> <%- include('partials/navbar') %>

<!-- Main Section -->
<main class="main">
  <!-- Section Header -->
  <section class="section-header">
    <h1 class="heading-1 text--light text--center">About Us</h1>
  </section>

  <!-- Section Coming Soon -->
  <section class="section-error">
    <h2 class="heading-2">Thanks for Visiting</h2>
    <p class="error__title">Coming Soon</p>
    <p class="error__message">This Webpage is Under Development!</p>
    <a href="index.ejs" class="btn btn--primary">Back to Homepage</a>
  </section>
</main>

<%- include('partials/footer') %> <%- include('partials/end') %>
