<%- include('partials/head') %> <%- include('partials/navbar') %>

<!-- Main Section -->
<main class="main">
  <!-- Section Form -->
  <section class="section-form">
    <h2 class="heading-2 text--center mb-48">
      <span class="heading-2--sub">Share Your Experience</span>Post Camp
    </h2>
    <div class="container-form">
      <form action="#" method="get" class="form">
        <div class="form__group">
          <label for="title" class="form__label">Camp Title</label>
          <input
            type="text"
            name="title"
            value=""
            id="title"
            class="form__input"
            placeholder="Camp Title"
            required
          />
        </div>
        <div class="form__group form__group-1-2">
          <label for="location" class="form__label">Location</label>
          <input
            type="text"
            name="location"
            value=""
            id="location"
            class="form__input"
            placeholder="Location"
            required
          />
        </div>
        <div class="form__group form__group-1-2">
          <label for="price" class="form__label">Price</label>
          <input
            type="number"
            name="price"
            value=""
            id="price"
            class="form__input"
            placeholder="Price per Night"
            required
          />
        </div>
        <div class="form__group">
          <label for="camp-image" class="form__label">Camp Image</label>
          <input
            type="text"
            name="camp-image"
            value=""
            id="camp-image"
            class="form__input"
            placeholder="Camp Image"
            required
          />
        </div>
        <div class="form__group">
          <label for="amenities" class="form__label">Amenities</label>
          <input
            type="text"
            name="amenities"
            value=""
            id="amenities"
            class="form__input"
            placeholder="Separate Amenities by comma"
            required
          />
        </div>
        <div class="form__group form__group-1-2">
          <label for="capacity" class="form__label">Capacity (People)</label>
          <input
            type="number"
            name="capacity"
            value=""
            id="capacity"
            class="form__input"
            placeholder="Camp Capacity"
            required
          />
        </div>
        <div class="form__group form__group-1-2">
          <label for="area" class="form__label">Camp Size</label>
          <input
            type="text"
            name="area"
            value=""
            id="area"
            class="form__input"
            placeholder="Camp Size"
            required
          />
        </div>
        <div class="form__group form__group-1-2">
          <label for="contact" class="form__label">Camp Contact Email</label>
          <input
            type="email"
            name="contact"
            value=""
            id="contact"
            class="form__input"
            placeholder="contact"
            required
          />
        </div>
        <div class="form__group form__group-1-2">
          <label for="website" class="form__label">Camp Website</label>
          <input
            type="text"
            name="website"
            value=""
            id="website"
            class="form__input"
            placeholder="Camp Website"
            required
          />
        </div>
        <div class="form__group">
          <label for="description" class="form__label">Description</label>
          <textarea
            name="description"
            value=""
            id="description"
            class="form__textarea"
            placeholder="Describe the Camp"
            required
          ></textarea>
        </div>
        <button type="submit" class="btn btn--primary btn--md mt-24">
          Add Camp
        </button>
      </form>
    </div>
  </section>
</main>

<%- include('partials/footer') %> <%- include('partials/end') %>
