<%- include('partials/head') %> <%- include('partials/navbar') %>

<!-- Main Section -->
<main class="main">
  <!-- Section Error -->
  <section class="section-error">
    <h2 class="heading-2">Error</h2>
    <p class="error__title">404</p>
    <p class="error__message">Page not found!</p>
    <a href="index.ejs" class="btn btn--primary">Back to Homepage</a>
  </section>
</main>

<%- include('partials/footer') %> <%- include('partials/end') %>
