// ======= Imports ======= //

@use "../abstracts/" as *;

// ======= Codes ======= //

.camp {
  &__header {
    padding: $space-24;
    background-color: $color-pr;
    color: $grey-50;
  }
  &__header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include responsive(600) {
      flex-direction: column;
    }
  }
  &__title-box {
  }
  &__info {
  }
  &__rating {
  }
  &__location {
  }
  &__price {
    span {
      font-size: $size-30;
    }
  }

  // Camp body
  &__body {
    padding: $space-64 0;
  }
  &__img-box {
  }
  &__img {
    display: inline-block;
    width: 100%;
  }
  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-pr;
    color: $grey-50;
    font-size: $size-18;
    padding: $space-48;
    border-radius: $border-rad-s;
    & > *:not(:first-child) {
      margin-bottom: $space-16;
    }
  }
  &__link:link,
  &__link:visited {
    font-size: $size-18;
    color: $grey-50;
  }
  &__address i {
    font-size: $size-30;
    margin-right: $space-16;
  }
  &__specification-box {
    display: flex;
  }
  &__specification {
    width: 50%;
    padding: $space-32 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: $size-20;
    background-color: $grey-50;
    border-radius: $border-rad-s;
    &:first-child {
      margin-right: $space-16;
    }
    .fas {
      font-size: $size-44;
      margin-bottom: $space-16;
      color: $color-pr;
    }
  }
  &__amenities {
    padding: $space-24 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    // align-content: start;
    align-items: start;
  }
  &__amenity {
    background-color: $color-pr;
    color: $grey-50;
    padding: $space-4 $space-16;
    border-radius: $border-rad-s;
    margin-right: $space-8;
    margin-bottom: $space-8;
  }
}
