// Imports //

@use "../abstracts/" as *;

// Codes //

.section-search {
  background-color: $grey-300;
  padding: $space-32;
}

.search {
  display: flex;
  justify-content: center;
  &__input {
    max-width: 50%;
  }
}

.section-camps {
  padding: $space-80 0;
}

.section-about {
  padding: $space-80 0;
  background-color: $grey-50;
}

.section-features {
  padding: $space-80 0;
}
