// Imports //

@use "../abstracts/" as *;

// Codes //

.footer {
  &__content {
    padding: $space-80 0;
    background-color: $grey-800;
    color: $grey-50;
    @include responsive(800) {
      text-align: center;
    }
  }
  &__title {
    margin-bottom: $space-12;
  }
  &__about {
    color: $grey-500;
  }
  &__list {
    list-style-type: none;
  }
  &__social > *:link:not(:last-child) {
    padding-right: $space-16;
  }
  &__icon {
    font-size: $size-24;
  }
  &__copyright {
    color: $grey-600;
    background-color: $grey-900;
    padding: $space-16;
  }
}
