// Imports //

@use "../abstracts/" as *;

// Codes //

.navbar {
  width: 100%;
  background: $color-pr;
  color: $grey-50;
  padding: $space-8 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @include responsive(1440) {
      padding: 0 $space-24;
    }
  }
  &__logo {
    width: 128px;
    margin: $space-12 0;
    &-img {
      display: inline-block;
      width: 100%;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    gap: $space-8;
    list-style: none;
    list-style-position: inside;
    @include responsive(800) {
      flex-flow: column nowrap;
      width: 100%;
      background: $color-pr;
      position: absolute;
      top: 100%;
      right: 0;
      opacity: 0;
      transform-origin: top center;
      transform: scaleY(0);
      transition: $transition-s;
    }
  }
  &__item {
    @include responsive(800) {
      padding: $padding-sm;
    }
  }
  &__link,
  &__link:link,
  &__link:visited {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: $padding-sm;
    border: none;
    outline: 2px dashed transparent;
    color: inherit;
    font-size: $size-16;
    text-decoration: none;
    cursor: pointer;
    transition: $transition-s;
    @include responsive(800) {
      width: 100%;
    }
    &:hover {
      background: $color-pd;
    }
    &:active,
    &:focus {
      background: $grey-50;
      outline: 2px dashed $grey-50;
      color: $grey-900;
    }
  }
  &__toggle {
    align-self: center;
    display: none;
    height: 5rem;
    width: 5rem;
    margin: $space-12 0;
    background: $grey-800;
    border-radius: $border-rad-s;
    cursor: pointer;
    @include responsive(800) {
      @include flexCenter;
    }
  }
  &__toggle--open {
    @include responsive(800) {
      opacity: 1;
      transform: scaleY(1);
    }
  }
  &__toggle-icon {
    display: block;
    position: relative;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $grey-50;
      display: inline-block;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: $transition-s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
  &__toggle--open + &__toggle &__toggle-icon {
    background-color: transparent;
  }
  &__toggle--open + &__toggle &__toggle-icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  &__toggle--open + &__toggle &__toggle-icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
