// ======= Imports ======= //

@use "../abstracts/" as *;

// Code

.about {
  &__img-box {
  }
  &__img {
    width: 100%;
  }
  &__content {
    padding: 0 $space-48;
  }
  &__details {
    &:not(:last-child) {
      margin-bottom: $space-16;
    }
    color: $grey-700;
    -moz-column-count: 2;
    -moz-column-gap: 4rem; //1em = 14px;

    column-count: 2;
    column-gap: 4rem; //1em = 14px;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    @include responsive(1024) {
      columns: 1;
    }
  }
}
