// Imports //

@use "../abstracts/" as *;

// Codes //

.alert {
  width: 100%;
  position: fixed;
  top: 7.2rem;
  transition: transform 0.3s ease-in-out;
  transform-origin: top;
  @include responsive(800) {
    top: 9rem;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    padding: $space-16;
  }
  &__text {
    font-size: $size-20;
  }
  &__close {
    display: inline-block;
    padding: $space-4 $space-8;
    background-color: transparent;
    font-size: $size-20;
    font-weight: 700;
    color: $grey-900;
    border: none;
    border-radius: $border-rad-s;
    outline: none;
    transition: $transition-s;
  }
  &__close:hover {
    background-color: $grey-50;
  }
  &--success {
    background-color: $color-se;
  }
  &--danger {
    background-color: $color-danger;
    color: $grey-50;
  }
}
