// Imports //

@use "../abstracts/" as *;

// Codes //

.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    border: none;
    border-radius: $border-rad-s;
    font-size: $size-16;
    text-decoration: none;
    cursor: pointer;
    transition: $transition-s;
    outline: 2px dashed transparent;
  }
  &:active,
  &:focus {
    outline: 2px dashed $grey-900;
    outline-offset: 2px;
  }

  // Colors
  &--light {
    color: $grey-50;
  }

  // Primary Button
  &--primary,
  &--primary:link,
  &--primary:visited {
    padding: $padding-sm;
    background-color: $color-pr;
    color: $grey-50;
  }
  &--primary:hover {
    background-color: $color-pl;
  }

  // Secondary Button
  &--secondary,
  &--secondary:link,
  &--secondary:visited {
    padding: $padding-sm;
    background-color: $color-se;
    color: $grey-900;
  }
  &--secondary:hover {
    background-color: $color-sd;
  }

  // Sizes
  &--md,
  &--md:link,
  &--md:visited {
    font-size: $size-18;
    padding: $padding-md;
  }
  &--lg,
  &--lg:link,
  &--lg:visited {
    font-size: $size-18;
    padding: $padding-lg;
  }
}
