// Imports //

@use "../abstracts/" as *;

// Code

.camp-card {
  &__img-box {
    height: 40rem;
    @include responsive(700) {
      height: 30rem;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
  }
  &__specification {
    font-size: $size-14;
  }
  &__details {
    color: $grey-700;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $space-8 0;
    border-top: 2px solid $grey-100;
  }
  &__price {
    font-size: $size-24;
    span {
      font-size: $size-16;
    }
  }
  &__link:link,
  &__link:visited {
    color: $grey-900;
    font-weight: 800;
    transition: $transition-s;
  }
  &__link:hover {
    color: $color-pr;
  }
  &__link i {
    transition: $transition-s;
  }
  &__link:hover i {
    transform: translateX($space-4);
  }
}
