// Imports //

@use "../abstracts/" as *;

// Codes //

.cards {
  display: flex;
  flex-flow: row wrap;
  &-2 {
    width: calc(#{$flex-col-width} / 2);
    margin: 0 calc((100% - #{$flex-col-width}) / 4) $card-gutter-row;
  }
  &-3 {
    width: calc(#{$flex-col-width} / 3);
    margin: 0 calc((100% - #{$flex-col-width}) / 6) $card-gutter-row;
  }
  &-4 {
    width: calc(#{$flex-col-width} / 4);
    margin: 0 calc((100% - #{$flex-col-width}) / 8) $card-gutter-row;
  }
  &-5 {
    width: calc(#{$flex-col-width} / 5);
    margin: 0 calc((100% - #{$flex-col-width}) / 10) $card-gutter-row;
  }
  &-2,
  &-3,
  &-4,
  &-5 {
    @include responsive(1000) {
      width: calc(#{$flex-col-width} / 2);
      margin: 0 calc((100% - #{$flex-col-width}) / 4) $card-gutter-row;
    }
    @include responsive(800) {
      width: calc(#{$flex-col-width} / 1);
      margin: 0 calc((100% - #{$flex-col-width}) / 2) $card-gutter-row;
    }
  }
}
