// ======= Imports ======= //

@use "sass:math";
@use "../abstracts/" as *;

// ======= Codes ======= //

.review {
  display: flex;
  background-color: $grey-100;
  padding: $space-24;
  border-radius: $border-rad-s;
  &:not(:last-child) {
    margin-bottom: $space-32;
  }
  &__img-box {
    width: 7.2rem;
    height: 7.2rem;
    margin-right: $space-32;
    flex-shrink: 0;
  }
  &__img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  &__content {
    // max-width: 70rem;
    & > *:not(:first-child) {
      margin-bottom: $space-16;
    }
  }
  &__author {
    font-size: $size-20;
    font-weight: 500;
  }
  &__rating {
  }
  &__comment {
    font-size: $size-16;
    color: $grey-700;
  }
}
