/*

Font sizes (px):- 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Spacing system (px):- 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 160

*/

// ======= Typography Sizes ======= //

$size-10: 1rem;
$size-12: 1.2rem;
$size-14: 1.4rem;
$size-16: 1.6rem;
$size-18: 1.8rem;
$size-20: 2rem;
$size-24: 2.4rem;
$size-30: 3rem;
$size-36: 3.6rem;
$size-44: 4.4rem;
$size-52: 5.2rem;
$size-62: 6.2rem;
$size-74: 7.4rem;
$size-86: 8.6rem;
$size-98: 9.8rem;

// ======= Color Palette ======= //

// Primary Color
$color-pl: #5d7e68;
$color-pr: #345e42;
$color-pd: #2a4b35;

// Secondary Color
$color-sl: #aaffc6;
$color-se: #95ffb8;
$color-sd: #77cc93;

// Utility Colors
$color-info: royalblue;
$color-warning: sandybrown;
$color-danger: crimson;

// Grey
$white: #ffffff;
$grey-50: #f8f9fa;
$grey-100: #f1f3f5;
$grey-200: #e9ecef;
$grey-300: #dee2e6;
$grey-400: #ced4da;
$grey-500: #adb5bd;
$grey-600: #868e96;
$grey-700: #495057;
$grey-800: #343a40;
$grey-900: #212529;
$black: #000000;

// ======= Shadows ======= //

$shadow-s:
  0 1px 3px 0 rgba($black, 0.1),
  0 1px 2px -1px rgba($black, 0.1);
$shadow-m:
  0 4px 6px -1px rgba($black, 0.1),
  0 2px 4px -2px rgba($black, 0.1);
$shadow-l:
  0 10px 15px -3px rgba($black, 0.1),
  0 4px 6px -4px rgba($black, 0.1);

// ======= Border Radius ======= //

$border-rad-s: 0.4rem;
$border-rad-m: 0.8rem;
$border-rad-l: 1.2rem;

// ======= Spacing ======= //

$space-2: 0.2rem;
$space-4: 0.4rem;
$space-8: 0.8rem;
$space-12: 1.2rem;
$space-16: 1.6rem;
$space-24: 2.4rem;
$space-32: 3.2rem;
$space-48: 4.8rem;
$space-64: 6.4rem;
$space-80: 8rem;
$space-96: 9.6rem;
$space-128: 12.8rem;
$space-160: 16rem;

// ======= Padding ======= //

$padding-xs: $space-4 $space-12;
$padding-sm: $space-8 $space-24;
$padding-md: $space-12 $space-32;
$padding-lg: $space-16 $space-48;
$padding-xl: $space-24 $space-64;

// ======= Grid ======= //

$grid-width: 132rem;
$gutter-col: $space-64; // horizontal margin/padding
$gutter-row: $space-96; // vertical margin/padding

// ======= Transition ======= //

$transition-s: all 0.2s linear;
$transition-m: all 0.3s linear;
$transition-l: all 0.5s linear;
